@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    line-height: 1.5;
    color: $normal-text-primary;
    @media only screen and (min-width: 576px) {
        font-size: 16px;
    }
}
* {
    box-sizing: border-box;
}
a, input, button, select, textarea, *[tabindex='0'] {
    &:focus {
        outline: 2px solid $focus !important;
        box-shadow: 0 0 4px 4px $focus !important;
    }
}
.app-logo {
    font-size: 24px;
    margin-bottom: 40px;
    > * {
        display: inline-block;
    }
    img {
        margin-right: 10px;
    }
}
.main-content {
    padding: 40px 16px 32px;
    @media only screen and (min-width: 576px) {
        padding: 40px 30px 32px;
    }
    .page-title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 24px;
    }
}
.under-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    i {
        font-size: 180px;
    }
    p {
        font-size: 24px;
        margin-top: 20px;
    }
}
.filter-btn {
    background-color: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 18px;
    i {
        font-size: 18px;
        line-height: 1;
        margin-right: 12px;
    }
}
.underline-view-link {
    color: $link-primary;
    &:hover, &:focus {
        color: $link-primary;
    }
}