.font-normal {
    font-family: 'Helvetica Neue', sans-serif;
}
.font-ultrathin {
    font-family: 'Helvetica 25 UltraLight', sans-serif;
}
.font-thin {
    font-family: 'Helvetica 35 Thin', sans-serif;
}
.font-light {
    font-family: 'Helvetica 45 Light', sans-serif;
}
.font-roman {
    font-family: 'Helvetica 55 Roman', sans-serif;
}
.font-medium {
    font-family: 'Helvetica 65 Medium', sans-serif;
}
.font-bold {
    font-weight: bold;
}
.font-900 {
    font-weight: 900;
}
.font-700 {
    font-weight: 700;
}
.font-600 {
    font-weight: 600;
}
.font-500 {
    font-weight: 500;
}
.font-400 {
    font-weight: 400;
}
