$normal-text-primary: #102333;
$focus: #E17509;
$border-primary: #515761;
$bg-primary: #102333;
// $border-primary: #D8DEE3;
$bg-secondary: hsl(207, 16%, 87%);
$white: #ffffff;
$bg-content-primary: #FAFAFB;
$link-primary: #0373D0;
